.home-container {
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 20px;
}

.home-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  max-height: 500px;
  align-items: center;
}
@media (max-width: 768px) {
  .home-container {
    padding: 10px;
    font-size: 16px;
    img {
      width: 350px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }
}
