.saldo-container {
  background-repeat: no-repeat;
  height: 200px;
  color: white;
  display: flex;
  position: relative;

  .container-page-saldo {
    display: inline-block;
  }

  .text-saldo {
    color: white;
    padding: 10px;
    position: relative;
    z-index: 2;

    .saldo-title {
      margin-top: 32px;
      font-size: 14px;
    }
  }
}

.lihat-saldo {
  cursor: pointer;
}

.nominal-saldo {
  display: flex;
  flex-direction: row;
}

.saldo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.saldo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h2 {
  font-size: 28px;
  margin-left: 15px;
  margin-bottom: 1rem;
}

p {
  font-size: 12px;
  line-height: 1.5;
  margin-left: 15px;
  margin-bottom: 18.5px;
}

@media (max-width: 768px) {
  .saldo-container {
    height: 90vh;
    padding-left: 20px;
    flex-direction: column-reverse;
    align-items: center !important;
    justify-content: center !important;

    img {
      width: 70%;
      height: auto;
    }

    .container-page-saldo {
      text-align: justify;
      width: 90%;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
      margin-left: 0;
    }
  }
}
